/* Initialisation */
:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-light: rgba(0, 0, 0, 50%);
  --background-light-hover: rgba(99, 99, 99, 0.4);
  --background-dark: rgba(0, 0, 0, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-family: "Montserrat", cursive;
  font-size: min(3vw, 1.6rem);
  color: var(--font-color);
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-size: 2.4rem;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  border-style: none;
  outline: none;
}

/* Nav */
nav {
  display: flex;
  justify-content: center;
  background-color: var(--background-light);
}

nav button {
  width: 20%;
  font-size: min(5vw, 1.7rem);
  margin: 50px 10px;
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* content */

#content {
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 10vh 0;
}
/* Home */

#homeContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: rgba(71, 69, 69, 0.8);
  width: 80%;
}
#homeContainer h1,
div {
  color: var(--font-color);
}

/* Menu */
#menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-light);
}
#menu .menuCategory {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#menu .menuItem {
  width: 100%;

  flex: 1;
}
#menu .titleImage {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 5vw;
  justify-content: space-between;
}

.titleImage h2 {
  font-size: max(3vw, 1.5rem);
}

#menu .titleImage img {
  max-width: 200px;
  width: 50%;
}

.menuCategory h1 {
  width: 100%;
  text-align: center;
  background-color: rgba(95, 61, 61, 70%);
  color: rgb(189, 183, 189);
}

/* footer */
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--background-dark);
}
footer a {
  margin: 0 5px;
}
footer a:hover {
  color: var(--font-color-dark);
}
